{% extends 'admin.html.twig' %}

{% block content %}

<div class="text-center">
    <h1>Hello {{ app.user.firstname ~ ' ' ~ app.user.lastname }}!</h1>

    Here is your WebSite Admin Panel
</div>

{% endblock %}
